# Metabase internal DB (metadata)
MB_DB_DBNAME=metabase
MB_DB_USER=metabase
MB_DB_PASS=change_me_strong_password

# Optional demo DB
DEMO_DB_NAME=demo
DEMO_DB_USER=demo
DEMO_DB_PASS=change_me_demo_password